@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900&display=swap");

:root {
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  background: #36384d;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
  margin-top: 1em;
}

label {
  font-size: 0.8em;
  font-weight: 700;
  color: var(--Dark-Slate-Grey);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  align-items: start;
  gap: 1em;
  margin-bottom: 1em;
}

.flex-container {
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  margin-inline: 2em;
  padding: 1.2em;
  border-radius: 30px;
}

.left-side {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
}

.title-header {
  font-size: 3em;
}

.subtitle-header,
.title-header,
li {
  color: var(--Charcoal-Grey);
}

.input-email,
.submit-btn {
  width: 100%;
  padding: 1.2em;
  border-radius: 5px;
}

.input-email {
  box-sizing: border-box;
  display: block;
  border: 1px solid var(--Grey);
  outline: none;
}

.submit-btn {
  cursor: pointer;
  border: none;
  color: var(--White);
  font-weight: 700;
  background-color: var(--Dark-Slate-Grey);
  transition: 0.25s ease-in-out;
}

.submit-btn:hover {
  background-image: linear-gradient(45deg, #ff5a63, #fe9550);
}

@media all and (max-width: 480px) {
  body {
    background: white;
  }

  form {
    margin-top: 3em;
  }

  .flex-container {
    flex-direction: column-reverse;
    margin-inline: 0;
    padding: 0;
    gap: 0em;
  }

  .title-header {
    margin: 0.5em 0;
  }

  .left-side {
    width: auto;
    margin-inline: 1em;
    padding: 0;
    margin-bottom: 2em;
  }
}
